.card{
    background-color: #9e8fb2;
background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
    height: 400px;
    width: 100%;
    border: none;
}
.form-control{
    width: 80%;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
}
.btncss{
    width: 40%;
    padding: 4px;
    margin-right: 10%;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    color: #000;
    background: #fff;
    margin-left: auto;
display: block;
}
.main-text{
    color: white;
    font-size: 29px;
    font-weight: 600;
}
.rowcss{
    margin-top: 24px;
}
.content{
    background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1.5px );
-webkit-backdrop-filter: blur( 1.5px );
border-radius: 10px;
   height: 60%;
   width: 80%;
   margin: auto;
}
.weather-name{
    color: white;
    font-size: 24px;
    font-weight: 600;
}
.weather-main{
    p{
        margin-bottom: 0;
        text-align: center;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
    }
    h6{
        margin-bottom: 0;
        text-align: center;
        color: #fff;
        font-weight: 500;
        font-size: 22px;     
    }
}
.bottomcss{
    margin-bottom: 20px;
}
.class1{
    background-color: white;
}
.class2{
    background-color: greem;
}